@model Product

@*<div class="well">
        <h3 class="pull-right">
            <strong>@Model.Name</strong>
            <span class="pull-right label label-primary">@Model.Price.ToString("C")</span>
        </h3>
        <span class="lead">@Model.Description</span>
    </div>*@

<div class="container">
    <div class="col-xs-3">
        <img src="@Model.ImageUrl" class="img-thumbnail pull-left" />
    </div>
    <br />

    <div class="col-xs-9">
        <h3>
            @*<i class="alert-info text-center"><b>@Model.Description</b></i>*@
            <img src="@Model.Screenshot1" height="150px;" width="200px;" />
            <img src="@Model.Screenshot2" height="150px;" width="200px;" />
            <img src="@Model.Screenshot3" height="150px;" width="200px;" />
            <br />
            <br />
            <span class="pull-right label label-info">@Model.Price.ToString("C")</span>
        </h3>
        <br />
        <form id="@Model.ProductID" asp-action="AddToCart" asp-controller="Cart" method="post">
            <input type="hidden" asp-for="ProductID" />
            <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
            <button type="submit" class="btn btn-success pull-right">
                Add to cart
            </button>
        </form>
    </div>
</div>

